@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root {
	/* Colors */
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	--dark-gray: hsl(0, 0%, 55%);
	--very-dark-gray: hsl(0, 0%, 41%);

	/* Font weights */
	--weight-alata: 400;
	--weight-josefin: 300;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Alata", sans-serif;
	font-size: 15px;
	font-weight: var(--weight-alata);
	min-height: 100vh;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Josefin Sans", sans-serif;
	font-weight: var(--weight-josefin);
	text-transform: uppercase;
}

