@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root {
	/* Primary Colors */
	--primary-light-red: hsl(356, 100%, 66%);
	--primary-very-light-red: hsl(355, 100%, 74%);
	--primary-very-dark-blue: hsl(208, 49%, 24%);

	/* Neutral Colors */
	--text-white: hsl(0, 0%, 100%);
	--text-footer: hsl(240, 2%, 79%);
	--text-link-white: rgba(255, 255, 255, .7);
	--very-dark-grayish-blue: hsl(207, 13%, 34%);
	--very-dark-black-blue: hsl(240, 10%, 16%);

	/* Gradient Colors */
	--gradient-very-light-red: hsl(13, 100%, 72%);
	--gradient-light-red: hsl(353, 100%, 62%);
	--gradient-very-dark-gray-blue: hsl(237, 17%, 21%);
	--gradient-very-dark-desaturated-blue: hsl(237, 23%, 32%);

	/* Font Weights */
	--overpass-weight-light: 300;
	--overpass-weight-heavy: 600;

	--ubuntu-weight-light: 400;
	--ubuntu-weight-medium: 500;
	--ubuntu-weight-heavy: 700;
}

/* GENERAL */
* {
	box-sizing: border-box;
}

body {
	font-family: "Overpass", sans-serif;
	font-weight: var(--overpass-weight-light);
	min-height: 100vh;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: var(--overpass-weight-heavy);
	color: var(--primary-very-dark-blue);
}

section {
	width: 100%;
	padding: 0 10%;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

a {
	color: var(--text-link-white);
	text-decoration: none;
	font-family: "Ubuntu", sans-serif;
	font-weight: var(--ubuntu-weight-medium);
}

a:hover {
	text-decoration: underline;
	color: var(--text-white);
}

.mobile {
	display: none;
}

.btn {
	font-size: 1.1em;
	color: var(--text-white);
	text-align: center;
	display: block;
	box-sizing: content-box;
	width: 8rem;
	padding: .6rem 0;
	border-radius: 5rem;
	border: solid 2px var(--text-white);
}

.btn:hover {
	text-decoration: none;
	color: var(--primary-very-light-red);
	background-color: var(--text-white);
}

.btn:active {
	opacity: .8;
}

.btn-cta {
	color: var(--primary-light-red);
	background-color: var(--text-white);
}

.btn-cta:hover {
	color: var(--text-white);
	background-color: var(--primary-very-light-red);
	border-color: var(--primary-very-light-red);
}

/* INTRO SECTION */
.intro {
	background: url("images/bg-pattern-intro-desktop.svg") no-repeat right;
	background-size: 220%;
	background-position: 25% 50%;
	border-radius: 0 0 0 5rem;
}

/* Wraps the intro section and adds gradient background behind it */
.intro-bg-wrapper {
	background-image:	linear-gradient(90deg, var(--gradient-very-light-red), var(--gradient-light-red));
	border-radius: 0 0 0 5rem;
}

/* NAVBAR */
/* Main layout */
.navbar {
	width: 100%;
	padding: 2rem 0;

	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.nav-content {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	align-items: center;
}

.nav-left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.nav-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.nav-list {
	padding: 0;
	list-style: none;
}

.nav-link, .dropdown-link, .nav-button > a {
	font-size: 1.1em;
}

/* Dropdowns */
.nav-dropdowns {
	margin: 0 3rem;
}

.dropdown {
	display: inline-block;
	position: relative;
}

/* + selector used to add margin only to second and third item */
.dropdown + .dropdown {
	margin-left: 2rem;
}

.dropdown-arrow {
	margin-left: .2rem;
	transition: .2s transform;
}

/* Flip arrow when active */
.dropdown.active > .dropdown-arrow {
	transform: rotate(180deg);
}

/* Hide dropdown when not active */
.dropdown-options {
	z-index: 10;
	display: none;
	list-style: none;
	width: 10rem;
	background-color: white;
	padding: 1rem;
	border-radius: .5rem;
	box-shadow: 0 0 2rem -1rem var(--very-dark-black-blue);

	position: absolute;
	left: -1rem;
	top: 2rem;
}

.dropdown-options li {
	margin: .5rem 0;
}

.dropdown-options a {
	text-decoration: none;
	color: var(--very-dark-grayish-blue);
}

.dropdown-options a:hover {
	color: var(--very-dark-black-blue);
	font-weight: var(--ubuntu-weight-heavy);
}

/* Show options when dropdown is active */
.dropdown.active > .dropdown-options {
	display: block;
}

/* Buttons */
/* + selector used to add margin only to second and third item */
.nav-button + .nav-button {
	margin-left: 2rem;
}

/* Intro Content */
.intro-content {
	text-align: center;
	width: 100%;
	padding: 3rem 0 6rem 0;
}

.intro-title {
	color: var(--text-white);
	font-size: 3.5em;
	margin: 1rem 0 ;
}

.intro-description {
	font-size: 1.2em;
	color: rgba(255, 255, 255, .8);
	margin: 2rem 0;
}

.intro-buttons {
	list-style: none;
	padding: 0;
}

.intro-buttons > li {
	display: inline-block;
	margin: .5rem;
}

/* MAIN SECTIONS */
/* SHARED STYLES */
.section-title {
	width: 100%;
	font-size: 2.2em;
}

.section-subtitle {
	font-size: 1.6em;
}

.section-paragraph {
	font-size: 1.1em;
	line-height: 1.5em;
}

.section-content {
	width: 50%;
	align-self: flex-start;
}

.section-illustration {
	line-height: 0;
	width: 50%;
}

.section-illustration > img {
	width: 100%;
}

/* SECTIONS WITH LIGHT BACKGROUND */
.section-bg-light {
	padding: 1rem 10%;
}

.section-bg-light .section-paragraph {
	color: var(--very-dark-grayish-blue);
}

.section-bg-light .section-illustration {
	overflow: hidden;
}

.section-bg-light .section-illustration > img {
	/* Oversize image to cut away the right part to match the design provided */
	width: 140%;
}

/* SECTION WITH DARK BACKGROUND */
/* Wrapper adding gradient backround behind the section's image background */
.dark-bg-wrapper {
	width: 100%;
	margin: 2rem 0;
	border-radius: 0 5rem 0 5rem;
	background-image:	linear-gradient(90deg, var(--gradient-very-dark-gray-blue), 
										var(--gradient-very-dark-desaturated-blue));
}

.section-bg-dark {
	color: var(--text-white);
	background: url("images/bg-pattern-circles.svg") no-repeat;
	/* The need to set size here would mess with the gradient background, 
	so it was moved to its own div wrapping the section */
	background-size: 73%;
	background-position: -57% 89%;
	border-radius: 0 5rem 0 5rem;
}

.section-bg-dark .section-title {
	color: var(--text-white);
}

.section-bg-dark .section-paragraph {
	color: var(--text-footer);
}

/* Use the image container to determine the size and position in the layout */
.section-bg-dark .section-illustration {
	width: 35%;
	align-self: center;
	/* Small Padding to compensate the illustration's vertical whitespace being uneven */
	padding-top: 3%;
	/* Margin to beter align the oversized image with the rest of the page content */
	margin-left: 4%;
}

/* Increase image scale to push it out of the section boundaries like in the design */
.section-bg-dark .section-illustration > img {
	width: 100%;
	transform: scale(1.5);
}

.section-bg-dark .section-content {
	align-self: center;
}

/* SECTIONS WITH IMAGE TO THE RIGHT */
.section-img-right {
	padding-right: 0;
}

.section-img-right .section-title {
	text-align: center;
	/* Makes up for lack of padding to the right of the section to make it easier 
	to center text with respect to the screen */
	padding-right: 10%;
	margin: 0;

	/* Problematic for responsive design, might need better solution */
	transform: translateY(300%); 
}

.section-img-right .section-content {
	width: 40%;
	align-self: flex-start;
	padding-top: 17%;
}

/* SECTIONS WITH IMAGE TO THE LEFT */
.section-img-left {
	padding: 0 10% 0 0;
	margin: 5rem 0;

	justify-content: flex-start;
	column-gap: 5%;
}

.section-img-left > .section-illustration {
	display: flex;
	justify-content: flex-end;
}

.section-img-left > .section-content {
	padding-top: 13%;
	width: 40%;
}

.section-img-left .section-paragraph + .section-subtitle {
	margin-top: 3rem;
}

/* FOOTER */
footer {
	color: var(--text-footer);
	background-color: var(--gradient-very-dark-gray-blue);
	padding: 5rem 10% 1rem 10%;
	margin-top: 10rem;
	border-radius: 0 5rem 0 0;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

footer .content	{
	width: 100%;
	margin-bottom: 5rem;

	display: grid;
	gap: 2rem 15%;
	grid-template-columns: repeat(4, max-content);
	grid-auto-rows: max-content;
	align-items: center;
}

footer .brand {
	grid-row: 1/2;
	grid-column: 1/2;
}

#product-title {
	grid-row: 1/2;
	grid-column: 2/3;
}

#product-list {
	grid-row: 2/3;
	grid-column: 2/3;
}

#company-title {
	grid-row: 1/2;
	grid-column: 3/4;
}

#company-list {
	grid-row: 2/3;
	grid-column: 3/4;
}

#connect-title {
	grid-row: 1/2;
	grid-column: 4/5;
}

#connect-list {
	grid-row: 2/3;
	grid-column: 4/5;
}

.footer-links-category {
	color: white;
	font-size: 1.2em;
	margin: 0;
}

.footer-links-list {
	align-self: start;
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-links-list li + li {
	margin-top: 1rem;
}

.footer-link {
	color: var(--text-footer);
	font-weight: var(--ubuntu-weight-light);
}

.footer-link:hover {
	color: var(--text-footer);
}

.attribution {
	width: 100%;
	text-align: right;
}

.attribution a {
	color: var(--text-white);
}

.attribution a:hover {
	text-decoration: underline;
}