@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
	/* Primary Colors */
	/* Text */
	--primary-text-very-dark-desaturated-blue: hsl(238, 29%, 16%);
	--primary-text-soft-red: hsl(14, 88%, 65%);

	/* Background Gradient */
	--gradient-soft-violet: hsl(273, 75%, 66%);
	--gradient-soft-blue: hsl(240, 73%, 65%);

	/* Neutral Colors */
	/* Text */
	--text-very-dark-grayish-blue: hsl(237, 12%, 33%);
	--text-dark-grayish-blue: hsl(240, 6%, 50%);

	/* Dividers */
	--divider-light-grayish-blue: hsl(240, 5%, 91%);

	/* Font Weights */
	--weight-heavy: 700;
	--weight-light: 400;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Kumbh Sans", sans-serif;
	font-size: 12px;
	padding: 0;
	margin: 0;
}

.surface {
	background: var(--gradient-soft-violet);
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.faq-card {
	background-color: var(--divider-light-grayish-blue);
	padding: 2rem;
	margin: 1rem 0;
	border-radius: 1.5rem;
	
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.card-body {
	width: 50%;
}

.card-title {
	text-align: center;
	font-size: 2em;
}




.attribution {
	text-align: center;
	margin-bottom: .5rem;
}