:root {
	/* Primary Colors */
	--primary-color-pale-blue: hsl(225, 100%, 94%);
	--primary-color-bright-blue: hsl(245, 75%, 52%);

	/* Neutral Colors */
	--color-very-pale-blue: hsl(225, 100%, 98%);
	--color-desaturated-blue: hsl(224, 23%, 55%);
	--color-dark-blue: hsl(223, 47%, 23%);
}

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	padding: 0;
	margin: 0;
}

.surface {
	background-color: var(--primary-color-pale-blue);
	height: 100vh;
	/* Allows to use position absolute for footer */
	position: relative;

	/* Use flexbox to center card component */
	display: flex;
	justify-content: center;
	align-items: center;
}

.order-summary-card	{
	background-color: white;
	width: 320px;
}

.img-container {
	/* Gets rid of awkward whitespace below image */
	line-height: 0;
}

.card-hero-img > img {
	width: 100%;
}

.card-body {
	text-align: center;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Style for the plan sub-component */
.plan-component {
	background-color: var(--color-very-pale-blue);
	width: 100%;
	padding: 1rem;
	margin: .5rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.plan-change-button {
	color: var(--primary-color-bright-blue);
}

.card-body > a {
	margin: .5rem;
}

.confirm-button {
	text-decoration: none;
	display: block;
	color: white;
	background-color: var(--primary-color-bright-blue);
	width: 100%;
	padding: 1rem;
}

.cancel-button {
	text-decoration: none;
	color: var(--color-desaturated-blue);
}

.attribution {
	position: absolute;
	bottom: 0;
	margin: .5rem 0;
}